{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="juggling-equipment">Back</a>

      <h1 class="heading-large">
        You need a separate licence
      </h1>

      <p>You need a separate licence for this equipment.</p>

      <p>Find out <a href="/url/of/onward/page">how to get an advanced juggling licence</a>.</p>

    </div>
  </div>
</main>

{% endblock %}
